<!doctype html>
<html lang="en">
  <head>
      
      <link rel="stylesheet" href="base2.css">
     
      <body>
           
   <h1>Group-5</h1>

<nav><div class="animation start-home"></div>
    <button onclick="location.href='base2.html'"><a href="#">Index</a></button>
    <a href="#">.</a>
    <button onclick="location.href='group.html'"> <a href="#">About</a></button>
     <a href="#">.</a>
    <button onclick="location.href='inter.html'"><a href="#">Inference</a></button>
      <a href="#">.</a>
	
</nav>

      </body>
    </head>
</html>