<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">

  <meta name="description" content="Group Project">
  <meta name="keywords" content="">
  <meta name="author" content="Aqeel Charnia">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <link rel="stylesheet" href="styles123.css">
     
    </head>
        <body>
   <div class="container">
        
  <h1>GROUP Number-5</h1>
       <h4>Group Members:-</h4>
  
    <ul class="timeline">
      
        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>1. Aqeel Charania</summary>
           
              <p>Email- aacharan@lakeheadu.ca</p>
          </details>
        </li>
      
        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>2. Abdulbasit Kasim</summary>
            <p>Email-aakasim@lakeheadu.ca </p>
          </details>
        </li>
      
        <li class="timeline">
          <div class="icon working"></div>
          <details class="panel">
            <summary>3. Andrew Greer</summary>
            <p>	aagreer@lakeheadu.ca</p>
          </details>
        </li>
      
       
      
    </ul>
</div>
          
    </body>
</html>